<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>

		<title>Home</title>
	</head>
	<body>
		<table border="1px">
		<tr>
		<td>
			<h2 th:text="'Pilot License Number: ' + ${pilot.licenseNumber}">Pilot Licence Number</h2>
			<h2 th:text="'Name: ' + ${pilot.name}">Name</h2>
			<h2 th:text="'Fly Hour: ' + ${pilot.flyHour}">Fly Hour</h2>
			<a th:href="@{'/flight/add/'+${pilot.licenseNumber}}">Add Flight</a>
		</td>
		</tr>
		<tr>
		<td>
		<h3 th:text="'Daftar Flights'"></h3>
		<div th:each="flight : ${flights}">
			<p th:text="${flight.getOrigin()}+' - '+${flight.getDestination()}"></p>
		</div>
		</td>
		</tr>
		</table>
	</body>
</html>